body {
    padding-top: 0px;
    padding-bottom: 30px;
    font-size: 16px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.navbar-custom {
    background-color: #2F3436;

}

.navbar-custom .nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: .02em;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

body {
    font-family: 'Lora', serif;
    color: #4C5E52;
}

.navbar-custom .nav > li.active > a {
    color: #FFBE2C;
}

a.navbar-brand {
    font-weight: bold;
    color: #FFBE2C;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 24px;
}

.intro {
    padding-top: 60px;
    background-color: #2F3436;
    color: white;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav {
    margin: 0 -15px;
}

.brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 24px;
    color: #FFBE2C;
}

a {
    color: #FFBE2C;
}

h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2em;
    letter-spacing: .04em;
    color: #F7F3F2;
}

h3 {
    color: #2F3436;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
}

h4 {
    color: #2F3436;
    font-weight: bold;
}

.faq h2 {
    font-size: 22px;
}

.faq h3 {
    font-size: 16px;
    color: #4C5E52;
    text-transform: capitalize;
}

.faq p {
    color: black;
    font-size: smaller;
}

.btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

/*http://www.colorzilla.com/gradient-editor/*/

.btn-order {
    background: none;
    font-size: 16px;
    border: 1px solid #FFBE2C;
    padding: 12px 70px;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    background: #fceabb;
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
    color: #2F3436;

}

a.btn-order:hover, a.btn-order:focus {
    background: #f9c2bb;
    background: -moz-linear-gradient(top,  #f9c2bb 0%, #f9674d 50%, #f72000 51%, #f99593 100%);
    background: -webkit-linear-gradient(top,  #f9c2bb 0%,#f9674d 50%,#f72000 51%,#f99593 100%);
    background: linear-gradient(to bottom,  #f9c2bb 0%,#f9674d 50%,#f72000 51%,#f99593 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c2bb', endColorstr='#f99593',GradientType=0 );

}

footer {
    border-top: 2px solid #FFBE2C;
    padding-top: 15px;
    margin-top: 15px;
}

.social-container {
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}

.social-container ul {
    list-style:none;
    position:relative;
    left:50%;
}

.social-container li {
    float:left;
    position:relative;
}


.darkorder {
    background: #fceabb;
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
    color: #2F3436;

    font-size: larger;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    border-color: #a3a3a3;
    margin-top: 15px;
}

.separator {
    border-color: #FFBE2C;
    width: 50px;
}

.badge {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    background-color: #2F3436;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 10px;
    letter-spacing: .05em;
}


.coinlist li {
    list-style: none;
    margin-top: 20px;
    margin-left: 30px;
}

@media(min-width: 768px) {
    .coinlist li {
        margin-left: 60px;
    }
}

.coinlist li img {
    width: 38px;
}

.note {
    border: 1px solid #B2B27F;
    padding: 15px 8%;
    margin: 15px;
    color: #B2B27F;
}

.price-container {
    float:right;

    position:relative;
    left:-50%;
    text-align:left;

}

.price-container ul {
    list-style:none;
    position:relative;
    left:50%;
}

.price-container li {
    /*float:left;*/
    position:relative;
    margin-bottom: 10px;
}


.price-list {
    list-style:none;
}
.price-list li {
    margin-bottom: 10px;
    margin-left: 40px;
}



.shipping_box {
    font-size: 16px;
    font-weight: bold;
    color: #B2B27F;
    border: 1px solid #B2B27F;
    padding: 8px;
    margin: 15px auto;

}

.debug {
    background-color: rgba(125,0,0,.4);
}

.savings {
    color: #B2B27F;
    font-style: italic;
}

/* shamelessly taken from here: http://codepen.io/ameyraut/pen/yfzog */

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.social-icons .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*Change icons size here*/
.social-icons .fa {
    font-size: 1.6em;
}
/*Change icons circle size and color here*/
.social-icons.icon-circle .fa{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

}
.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    /*-webkit-box-shadow: 1px 1px 1px #333;*/
    /*-moz-box-shadow: 1px 1px 1px #333;*/
    /*box-shadow: 1px 1px 1px #333;*/
}

.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}
.social-icons .fa-adn{background-color:#504e54;}
.social-icons .fa-apple{background-color:#aeb5c5;}
.social-icons .fa-android{background-color:#A5C63B;}
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;}
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;}
.social-icons .fa-css3{background-color:#1572B7;}
.social-icons .fa-dribbble{background-color:#F46899;}
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;}
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;}
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}


.share_buttons li {
    margin: 15px;

}


/*END SOCIAL*/
.footer-text {
    font-family: "Montserrat", sans-serif;
}

.footer-logo-container {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
    margin:0;

    white-space:nowrap;
}

.faq {
    padding-top: 40px;

}
.faq h2 {
    color: #2F3436;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.blog-list h2 {
    color: #2F3436;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.thumbnail .caption {
    font-size: smaller;
}

.gcb-sidebar {

}

.gcb-name {
    font-weight: bold;
    color: #4C5E52;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 22px;
    margin-bottom: 20px;
}