<div class="well well-lg gcb-sidebar" style="margin-top: 20px;">

    <div class="text-center">
        <div class="gcb-name">Gold Coin Balance&#8482;</div><br/>
        <img src="/img/balance_gray.png" class="img-responsive" alt="Gold Coin Tester" style="margin: 0 auto; max-width: 300px; width: 90%; margin-bottom: 8px"/>
        <em>(coin not included)</em>

        <div class="shipping_box">
            FREE SHIPPING Worldwide
        </div>

        <div class="price-container">
            <ul>
                <li>Buy 1 &nbsp;= <strong>$26</strong></li>
                <li>Buy 2 &nbsp;= <strong>$36</strong> <span class="savings">(save 30%)</span></li>
                <li>Buy 10 = <strong>$150</strong> <span class="savings">(save 37%)</span></li>
            </ul>
        </div>



        <div style="clear: both">
            <a href="/order-now" type="button" class="btn btn-lg btn-primary btn-order darkorder" style="margin-bottom: 20px; width: 90%; padding: 8px 0;">Order Now <i class="fa fa-angle-double-right"></i></a>
<br/>
            For more questions or information, <a href="mailto:info@GoldCoinBalance.com?subject=Website%20Inquiry">email us</a>.
        </div>
    </div>

</div>
