<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-3 text-center" style="padding: 0;">

                <div class="footer-logo-container">
                    Gold Coin Balance&#8482;
                </div>

                <div class="footer-text">
                    <span style="font-size: smaller">
                        <a href="mailto:info@goldcoinbalance.com?subject=inquiry_from_website">Info@GoldCoinBalance.com</a><br />
                        <a style="color: #4C5E52" href="/privacy-policy">Privacy Policy</a></span>
                </div>

            </div>
            <div class="col-md-2 text-center">
                <div class="footer-text">
                    <span style="font-size: smaller">Copyright &copy; GCB 2011-2016<br/>
                    Made in the USA<br/>
                        Site developed by <a href="https://www.alleywayapps.com/">Alleyway</a>
                    </span>
                </div>


            </div>
            <div class="col-md-2">
                <div class="social-container">
                    <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline" style="margin-top:10px;">
                        <li><a href="https://www.facebook.com/GoldCoinBalance" rel="nofollow"
                               title="Like Gold Coin Balance on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/115323415676660127942?prsrc=3" rel="nofollow"
                               title="Follow Gold Coin Balance on Google+"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://twitter.com/goldcoinbalance" rel="nofollow"
                               title="Follow Gold Coin Balance on Twitter"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-24923755-1', 'auto');

    ga('send', 'pageview');

    ga('require', 'ecommerce');

</script>

<script >

    //http://localhost:4000/thank-you?&tx=1P89259341442352N&st=Completed&amt=0%2e36&cc=USD&cm=&item_number=


    var status = $.urlParam("st");

    if (status == "Completed") {
        ga('ecommerce:addTransaction', {
            'id': $.urlParam("tx"),                     // Transaction ID. Required.
            'affiliation': 'GCB Website',   // Affiliation or store name.
            'revenue': decodeURIComponent($.urlParam("amt"))
        });

        ga('ecommerce:send');

    }


</script>


</body>

</html>
