<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Gold Coin Balance",
        "image": [
            "https://example.com/photos/1x1/gold_coin_balance.jpg",
            "https://example.com/photos/4x3/photo.jpg",
            "https://example.com/photos/16x9/photo.jpg"
        ],
        "description": "Gold Coin Balance is the best way to easily and reliably test 1oz gold coins for authenticity.",
        "sku": "GCB_01",
        "brand": {
            "@type": "Thing",
            "name": "Gold Coin Balance"
        },
        "offers": {
            "@type": "Offer",
            "url": "https://goldcoinbalance.com",
            "priceCurrency": "USD",
            "price": "26.00",
            "availability": "https://schema.org/InStock",
            "seller": {
                "@type": "Organization",
                "name": "GoldCoinBalance.com"
            }
        }
    }
</script>
